<section id="main-section" class="section has-background-black">
  <div class="container">
    <div class="columns">
      <div class="column is-half is-offset-3">
        <% if user_signed_in? %>
          <%= render 'posts/form', post: @post %>
        <% end %>
        <%= render(@posts) || render('zeroposts') %>
      </div>
    </div>
  </div>
</section>